@model List<Zealous.Models.Event>
@{
    ViewBag.Title = "Index";
}

<h2>Events List</h2>

<div class="divTable blueTable">
    <div class="divTableHeading">
        <div class="divTableRow">
            <div class="divTableHead">Id</div>
            <div class="divTableHead">Event</div>
            <div class="divTableHead">Description</div>
        </div>
    </div>

    <div class="divTableBody">
        @foreach (var item in Model)
        {
            <div class="divTableRow">
                <div class="divTableCell">@item.Id</div>
                <div class="divTableCell">@item.EventName</div>
                <div class="divTableCell">@item.Description</div>
            </div>
            @*<div class="divTableRow">
                <div class="divTableCell">cell1_2</div>
                <div class="divTableCell">cell2_2</div>
                <div class="divTableCell">cell3_2</div>
                <div class="divTableCell">cell4_2</div>
            </div>*@
        }
    </div>
</div>
<div class="blueTable outerTableFooter">
    <div class="tableFootStyle">
        <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
    </div>
</div>
