@using Zealous.Models;
@model 

@{
	foreach (var item in Model)
	{
	<div class="main-content">
            <div class="content-image">
                <a href="#"><img src="@url.Content("-/image/"+item.image)" /></a>
            </div><!--content-image-->
            <div class="content-title">
                <a href="">@item.ProductName</a>
            </div><!--content-title-->
            <div class="content-price">
                Price: RM@item.Price
            </div><!--content-price-->
	}
}
