
@{
    ViewBag.Title = "add";
}

<h2>Add Equipment</h2>


    <center>
        <!--insert name and number of item-->
        <form action="form.php" method="post">
            <fieldset>
                <legend>Addd Equipment</legend>
                <br><br>
                Name : <input type="text" name="name"><br><br>
                No.of item : <input type="number" name="number"><br><br>
                <input type="Submit" name="submit" value="Submit">
                <input type="Reset">

            </fieldset>
        </form>
    </center>
