
@{
    ViewBag.Title = "add";
}

<h2>Add Equipment</h2>


    <center>
        <!--insert name and number of item-->
        <form>
            <fieldset>
                <legend>Add Equipment</legend>
                <br><br>
                Name : <input type="text" name="name"><br><br>
                No.of item : <input type="number" name="number"><br><br>

            </fieldset>
        </form>
         @Html.ActionLink("Submit", "add", new { controller = "Equipment" }, new { @class = "btn btn-primary" })
    </center>
