
@{
    ViewBag.Title = "BookEquipment";
}

<h2>BookEquipment</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookEquipment</title>
</head>
<h2>Booking Equipment</h2>
<body>
    <div>
        <center>
        <br><br>
        Name : <input type="text" name="name" required/>
        <br /><br />
        Booking date : <input type="date" required/>
        <br /><br />
        Item selection : <select required>
            <option>Tables</option>
            <option>Chairs</option>
            <option>Microphone</option>
            <option>Tents</option>
        </select>
        <br /><br />
        No of item : <input type="number" name="item" required/><br /><br />
            </center>
    </div>
</body>
@Html.ActionLink("Submit", "Book", new { controller = "Equipment" }, new { @class = "btn btn-primary" })
</html>
