
@{
    ViewBag.Title = "book";
}

<h2>book</h2>

<center>
    <form action="form.php" method="post">
        <fieldset>
            <legend>Bookg Equipment</legend>
            <br><br>
            Equipment Name : <input type="text" name="Ename">
            Booking Date : <input type="date">
            <br><br><input type="button" name="submit" value="Submit">
            <br><br><input type="Reset">
        </fieldset>
    </form>
</center>