
@{
    ViewBag.Title = "delete";
}

<h2>Delete equipment</h2>


    <center>
        <!--insert item name here-->
        <form action="form.php" method="post">
            <fieldset>
                <legend>Delete Equipment</legend>
                <br><br>
                Name of item : <input type="text" name="name"><br><br>
                <input type="Submit" name="delete" value="Delete">
            </fieldset>
        </form>
    </center>
