
@{
    ViewBag.Title = "DelEquipment";
}

<h2>Delete equipment</h2>


<center>
    <!--insert item name here-->
    <form action="form.php" method="post">
        <fieldset>
            <legend>Delete Equipment</legend>
            <br><br>
            Name of item : <input type="text" name="name"><br><br>
        </fieldset>
    </form>
    @Html.ActionLink("Submit", "Del", new { controller = "Equipment" }, new { @class = "btn btn-primary" })
</center>
