
@{
    ViewBag.Title = "Equipment";
}

<h2>Manage Equipment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<center>
    <form>
        <fieldset>
            <legend>Booking Equipment</legend>
            <br><br>
            Name : <input type="text" name="text" />
            <br />
            Booking date : <input type="date" />
            <br />
            Item selection : <select required>
                                <option>Tables</option>
                                <option>Chairs</option>
                                <option>Microphone</option>
                                <option>Tents</option>
                             </select>
            <br />
            No of item : <input type="number" name="item" />
        </fieldset>
    </form>
    @Html.ActionLink("Submit", "equip", new { controller = "Equipment" }, new { @class = "btn btn-primary" })
</center>
}