
@{
    ViewBag.Title = "update";
}

<h2>Update Equipment</h2>

<script>

function view(){
window.location="view.php";
}
</script>

    <center>
        <form action="form.php" method="post">
            <fieldset>
                <legend>Update Equipment</legend>
                <br><br>
                Name of item : <input type="text" name="name"><br><br>
                No. of item : <input type="number" name="number"><br><br>
                <input type="Submit" name="update" value="Update"><br><br>
                <input type="button" name="List" value="List Equipment" onclick="view()">
            </fieldset>
        </form>
    </center>
