
@{
    ViewBag.Title = "UpdEquipment";
}
<br /><br />
<h2>Update Equipment</h2>

<center>
    <form>
        <fieldset>
            
            <br><br>
            Name of item : <input type="text" name="name"><br><br>
            No. of item : <input type="number" name="number"><br><br>
        </fieldset>
    </form>
    @Html.ActionLink("Submit", "Upd", new { controller = "Equipment" }, new { @class = "btn btn-primary" })
</center>
