@model Zealous.Models.ProgressDetail
@{
    ViewBag.Title = "UpdateEventProgress";
}
@{ 
    //Get data for dropdown binding
    var data = Zealous.Models.EnumHelper.GetEventStatusView();
}

<h2>Update Event Progress</h2>

<div class="form-group">
    <form id="firstForm" method="post" asp-action="UpdateEventProgress" asp-controller="Tracking">
        <table>
            <tr>
                <td><h2>Current status for this: @Model.EventName event</h2></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DropDownListFor(x => Model.EventStatus, new SelectList(data, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Country" })</td>
                <td><input type="submit" value="Update" /></td>
            </tr>
        </table>
    </form>
</div>

