@using System.Configuration
@model Zealous.Models.Order
@{
   // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDataPaypal</title>
</head>
<a href=""></a>
<body>
  
    <br />
    <div class="jumbotron text-xs-center">
        <h1 class="display-3">Thank You! </h1>
        <h3 class="display-3">Transaction Successful </h3>
        <p class="lead"><strong>Please log in into your paypal account</strong> to receive the payment transaction. This will serve as your receipt.</p>
        <hr>
        <p>
            Having trouble? <a href="~/Views/Home/Contact.cshtml">Contact us</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="\" role="button">Continue to homepage</a>
        </p>
    </div>
  


</body>
</html>
