@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   UMP MALAYSIA<br />
    GAMBANG<br />
    <abbr title="Phone"></abbr>
    PAHANG
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">1pdinesh97@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">liaz@gmail.com</a>
</address>