@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zealous</h1>
    <p class="lead">Zealous is an event management system that provides you with the best solution for your event</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lets Get Planning</h2>
        <p>
           <img src="plan.png" >
        </p>
    </div>
    <div class="col-md-4">
        <h2>Events Provided</h2>
        <p>
		<ul>Here we provide you with different type of events:
		<li>Wedding Event</li>
		<li>Engagement Event</li>
		<liBirthday Event</li>
		<li>Business Event</li>
		<li>Baby Shower Event</li>

		</ul>
		</p>
        
    </div>
    <div class="col-md-4">
        <h5 >Follow Us On Our Media</h5>
          
          <p><a href="http://www.facebook.com"><i class="fa fa-facebook"></i>Facebook</a></p>
           <p><a href="http://www.twitter.com"><i class="fa fa-twitter"></i>Twitter</a></p> 
            <p><a href="https://plus.google.com"><i class="fa fa-google-plus"></i>Google +</a></p>
    </div>
</div>